* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: right;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

h1, h2 {
    margin-bottom: 1em;
}

section {
    margin: 2em 0;
    padding: 2em;
    background-color: #fff;
    border-radius: 8px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.about-content {
    display: flex;
    gap: 30px;
}

.photo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo-div {
    display: flex;
    flex-direction: row; 
    align-items: center;
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
}
.tag-div {
    align-items: center;
    margin-bottom: 20px;
}

.profile-photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
   align-items: center; 
}

.contact-links {
    display: flex;
    gap: 30px;
}

.contact-links a {
    color: #3498db;
    font-size: 1.5em;
    text-decoration: none;
}

.contact-links a:hover {
    color: #2980b9;
}

.about-text {
    max-width: 600px;
}

.project-card {
    background-color: #e3e3e3;
    padding: 1em;
    margin: 1em 0;
    border-radius: 8px;
}

.project-gallery {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    overflow-x: auto;
}

.project-gallery img.project-image {
    width: 100%;
    height: auto;
    max-width: 300px; /* Adjust as needed */
    border-radius: 8px;
    object-fit: cover;
}

.project-card h3 {
    margin-bottom: 0.5em;
}

.project-card p {
    margin-bottom: 1em;
}

.project-card ul {
    padding-left: 20px;
    margin-bottom: 1em;
}

.project-card a {
    display: inline-block;
    margin-top: 15px;
    color: #3498db;
    text-decoration: none;
}

.project-card a:hover {
    text-decoration: underline;
}


footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
}

a {
    color: #3498db;
}

a:hover {
    text-decoration: underline;
}
